.block .news-letter-container {
  background-color: #00695c;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.block .news-letter-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
}

.block .news-letter-inner h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 16px;
}

.block .news-letter-inner .button {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 24px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: inline-block;
}
