.block .information-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}
.information-container a{
  text-decoration: underline;
}
.block.information{
  border-top: 4px solid #fdd756;
  background-color: var(--light-color); /* Light grey background for the entire section */
}

.block.information{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom:4rem;
    z-index: 101;
    background-color: #f5f5f5;
}

.information[data-state='expanded'], .information[data-state='collapsed'] {
  left: 285px;
  width: calc(100% - 285px);
  padding-bottom: 0;
  height: 80px;
  overflow-y: auto;
}


.information[data-state='expanded'] button{
  padding-top: 12px;
}

.information[data-state='partial'] button{
  display: none;
}


#minus,#plus{
  display: none;
}

#minus{
  margin-top: 5px;
}

.information[data-state='expanded'] #minus{
  display: block;
}

.information[data-state='collapsed'] #plus{
  display: block;
}

.information-head{
  display: flex;
  justify-content: space-between;
}

.information-head button{
    display: flex;
    justify-content: center;
    height: 32px;
    max-width: 56px;
    margin: 0;
    border: 2px solid #415364;
    border-radius: 20px;
    background-color: transparent;
    color: #415364;
    font-size: 87.5%;
    font-style: normal;
}

.information-head button:hover{
  background-color: #415364;
  color: #fff;
}

.information-head button svg{
 height: 22px;
 width: 22px;
}

.block .information-container h2 {
  margin: .5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 24px;
}

.block .information-container .content-wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.block .information-container .left-column,
.block .information-container .right-column {
  /* flex: 1; */
  padding: 20px;
  background-color: #fff; /* White background for columns */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
}

.block .information-container .left-column ul,
.block .information-container .right-column ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 16px;
}

.block .information-container .left-column li,
.block .information-container .right-column li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

.block .information-container .left-column p {
  margin-top: 16px;
  font-size: 14px;
  color: #666;
}

.block .information-container .right-column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.block .information-container .right-column p {
  margin-bottom: 16px;
  font-size: 14px;
  color: #666;
}

.block .information-container .right-column ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media only screen and (max-width: 1099px) {
  .information-container .content-wrapper {
    flex-direction: column;
  }

  .information-head button {
    max-width: 62px;
  }
}
